<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neusoft.springboot_test.dao.UserDao">
    <!--新增用户-->
    <insert id="saveUser" parameterType="com.neusoft.springboot_test.entity.UserInfo">
        insert into t_sys_user
            (id,
            user_acct,
            user_name,
            sex,
            phone,
            email,
            id_card,
            is_deleted,
            sort_no,
            gmt_create,
            create_by,
            gmt_modified,
            last_modified_by,
            version,
            user_pwd
            )
        values
           (#{id},
            #{userAcct},
            #{userName},
            #{sex},
            #{phone},
            #{email},
            #{idCard},
            #{isDeleted},
            0,
            now(),
            #{createBy},
            now(),
            #{createBy},
            0,
            #{userPwd})
    </insert>

    <!--查询用户-->
    <select id="listUserInfo" parameterType="com.neusoft.springboot_test.entity.UserInfo" resultType="com.neusoft.springboot_test.entity.UserInfo">
        SELECT * FROM `t_sys_user` WHERE is_deleted = 0
    </select>

    <!--更改用户-->
    <update id="updateUser" parameterType="com.neusoft.springboot_test.entity.UserInfo">
        UPDATE t_sys_user set phone="13745678901" WHERE user_acct="123"
    </update>

    <!--删除用户(假删)-->
    <update id="deleteUser" parameterType="com.neusoft.springboot_test.entity.UserInfo">
        UPDATE t_sys_user set is_deleted = 1  WHERE user_acct="123"
    </update>

    <!--删除用户(真删)-->
    <delete id="deleteReallyUser" parameterType="com.neusoft.springboot_test.entity.UserInfo">
        DELETE  FROM t_sys_user  WHERE user_acct="123"
    </delete>
</mapper>